/.venv/
__pycache__/
*.pyc
/terminals/
/.cursor/
.DS_Store
/.vscode/
*.log
*.tmp
~$*
/backend/mirror_env/
/backend/__pycache__/
/backend/.venv/
credentials.json
/backend/token.json
/known_faces/
*.pdf
*.docx
